.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vmax;
}

.left {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3%;
    background-color: #192734 ;
    
}

.textArea {
    width: 80%;
    height: -moz-fit-content;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    max-width: 450px;
    background-color: white;
}

.editable {
    background-color: white;
    min-height: 40px;
    height: auto;
    border: 2px dashed black;
    padding: 0px 10px;
}

.right {
    width: 100%;
    background-color: #22303C;
    color: white !important;
}

.options {
    height: 100%;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0% 9%;
    max-width: 450px;
}

.reset {
    background-color: #15202B;
    padding: 1% 4%;
    display: flex;
    justify-content: flex-start;
    
}

.ff {
       margin-top: 15%;
       width: 80%;
       height: 40px;
       border: 3px solid #15202B;
       border-bottom:none ;
       box-sizing: border-box;
       display: flex;
       justify-content: end;
       flex-direction: column;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root, .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root, .css-1h51icj-MuiAutocomplete-root .MuiInput-root .MuiInput-input{
    color: #E4E6EB !important;
}

.css-1h51icj-MuiAutocomplete-root .MuiInput-root .MuiInput-input {
    padding: 4px 4px 4px 6px !important;
}



.other-vals {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-top: 2%;
}

.num {
    display: flex;
    margin-right: 3%;
}

.col {
    display: flex;
}

.final-button {
    display: flex;
    width: 80%;
    position: absolute;
    bottom: 10%;
}

.fb {
    width: 30%;
}

.on-undo {
    margin-right: 1%;
}

input[type="color"], input[type="number"]{
    color: #E4E6EB !important;  
    background-color: transparent;
    
}

#color {
    border: none;
    padding: 0;
    width: 40px;
}

#size {
    border: 3px solid  #15202B ;
    width:50px;
    padding: 5px;
}

#size:focus {
    outline: none;
}